#titulo-01-header {
    text-align: center;
    color: #000000;
}
#titulo-02-header {
    text-align: center;
    color: #000000;
}
#titulo-03-header {
    text-align: center;
    color: #000000;
    font-size: 2em;
    text-align: center;
}
.erro-login {
    background-color: #d13c46;
    padding: 5px;
    color: #ffffff;
    border-radius: 0.3em;
}
#cadastro-home {
    background-color: #eafdf1;
    margin: 10px;
    border: 1px solid #085626;
}
#btn-entrar {
    float: right;
    margin: 10px;
}
header {
    background-color: #c7cac7;
    height: auto;
    min-height: 200px;
}
#logo-puc {
    width: 200px;
    margin: 5px;
}
#bloco-msg-login {
    width: auto;
    color: #f6f8f9;
    padding: 5px;
    text-align: right;
}
#bloco-msg-login p {
    display: inline;
}
#bloco-msg-login a {
    padding: 2px 10px 2px 10px;
    color: #04471e;
    font-size: 1em;
    font-weight: bold;
}
#checkbox-lembrar-senha {
    color: #ffffff;
}
#apresentacao p {
    font-family: sans-serif;
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 10px;
}
p#titulo-lista-pessoas {
    font-family: fantasy;
    background-color: #204e84;
    color: #ffffff;
    padding: 5px;
    margin-top: 30px;
    text-align: center;
}
ul {
    list-style: none;
}
.foto {
    width: 120px;
    height: 160px;
}
.foto:hover {
    opacity: 0.8;
}
.nome {
    text-decoration: none;
    color: #ffffff;
    font-family: serif;
    font-size: 1em;
    padding-left: 10px;
    display: block;
}
.nome:hover {
    color: #000000;
    font-weight: bold;
}
.pessoa a img{
    width: 60%;
    height: 60%;
    margin: 10% 0 0 20%;
    
}
/* IN?CIO: P?gina de pesquisa */
#lista-alunos {
    margin: 0 auto;
    color: #444748;
}
#lista-alunos li {
    min-height: 150px;
    background-color: #FFFFE0;
    font-family: arial serif;
    margin-bottom: 20px;	
}
#foto-participante-pesquisa {
    width: 100px;
    height: 133px;
    float: left;
}
#lista-alunos dl {
    float: left;
    padding-left: 10px;
}
.titulo-informacoes-pesquisa {
    color: #053241;
    font-weight: bold;
}
.titulo-pg-cadastro {
    text-align: center;
}
#nome-pesquisa {
    text-decoration: none;
    color: #444748;
}
/* FIM: P?gina de pesquisa */

/* IN?CIO: P?gina pessoal */
#aluno {
    background-color: #07647b;
    border-radius: 20px;
    margin: 0 auto;
}
#foto-pg-pessoal {
    border-radius: 20px;
    padding-right: 20px;
}
.titulo-informacoes {
    font-family: serif;
    font-size: 1.2em;
    font-weight: bold;
    width: auto;
    display: inline-block;
    border-bottom: 1px solid #cccccc;
    padding-top: 10px;
    color: #ffffff;
}
.texto-informacoes {
    text-align: left;
    font-family: serif;
    display: block;
    height: auto;
    width: auto;
    color: #ffffff;
}
#form-login, #form-cadastro-pg-login {
    background-color: #dcf9e6;
    border: 1px solid #697876;
    margin: 20px;
}
#form-login {
    float: right;
}
#titulo-login, #titulo-cadastro {
    color: #0c7e38;
    text-align: center;
}
/* FIM: Página pessoal */